.limitedSale-flex {
  display: flex;
}
.limited-sale {
  margin: 80px 0;
}
.mint {
  flex: 0.5;
}
.sale {
  flex: 0.5;
  margin: 0 60px;
  border: 1px solid #7012ce;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 30px;
}
.mint-item h4 {
  margin: 30px 0 15px;
}
.mint-result {
  border: 1px solid #7012ce;
  background: #201d2e;
  max-width: 400px;
  color: #ffffff;
  padding: 20px 0;
  margin-top: 80px;
}
.mint-timer {
  margin-top: 20px;
}

.mint-timer,
.min-style,
.price-calc,
.price {
  font-family: var(--font-family-inter) !important;
}

.price {
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 50px 0px 30px;
  padding: 10px 10px;
}
.price-tag {
  color: #ffffff;
}
.calc {
  background: rgba(255, 255, 255, 0.1);
  padding: 7px 10px;
}
.price-tag span {
  padding-top: 10px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.price-tag h5 {
  text-align: right;
  font-weight: 300;
}
.price-calc {
  font-size: 15px;
  color: #ffffff;
}
.price-calc span {
  margin-left: 10px;
}
.min-style {
  font-weight: 500;
  margin-top: 20px;
  display: inline-block;
  font-family: var(--font-family-Georama) !important;
}

.total {
  padding: 14px 0 20px;
}
hr {
  border: 1px solid #878787;
}
.total h4 {
  font-family: var(--font-family-Georama) !important;
  color: #ffffff;
  font-weight: 400;
}

.max-btn {
  width: 100%;
  font-family: var(--font-family-Georama) !important;
  background: radial-gradient(
    100% 100% at 142.5% 13.75%,
    #ffffff 0%,
    #7012ce 100%
  );
  border: 0;
  border-radius: 4px;
  padding: 10px 0px;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
}
.calc {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 1023px) {
  .limitedSale-flex,
  .mint-prices {
    flex-direction: column;
  }
  .mint-prices {
    align-items: unset;
  }
  .sale {
    margin: 20px 0 0 0;
    padding: 10px;
  }
}
