.title {
  font-family: var(--font-family-main-font);
  font-weight: 400;
  font-size: 25px;
  text-transform: capitalize;
}
.desc {
  font-family: var(--font-family-main-font);
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  color: #ffffff;
  mix-blend-mode: normal;
}

.text-bg {
  background: radial-gradient(
      100% 100% at 142.5% 13.75%,
      #ffffff 0%,
      #7012ce 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: normal;
}
