.grid {
  margin: 2rem 0;
}

.grid__box {
  padding: 1rem;
}

.grid__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.grid__box .grid-article {
  border: 1px solid #7012ce;
  background: #201d2e;
}
article h4,
p {
  font-family: var(--font-family-inter);
  color: #ffffff;
}
article h4 {
  margin: 10px 0 15px;
  font-weight: 500;
  font-size: 17px;
}
article p {
  margin-bottom: 10px;
}
.team__img {
  margin: 20px 20px;
  background: rgba(255, 255, 255, 0.1);
}
/* story css */

.mobile-view {
  display: none;
}

.desktop-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.mobile-viewDiv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.desktop-img {
  width: 900px;
}
.story-br {
  margin: 8px 0;
}
.desktop-viewText {
  position: absolute;
  top: 0;
  max-width: 570px;
}
.desktop-viewText h1 {
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 34px;
  color: #a48b77;
  margin: 100px 0 50px;
  text-align: center;
}

.text-item {
  position: absolute;
  top: 20%;
  /* max-width: 570px; */
}
.desktop-viewText p {
  line-height: 23px;
  color: #a48b77;
  text-align: left;
}
.mobile-text h1 {
  font-size: 26px;
  color: #a48b77;
  margin: 50px 0 20px;
}
.mobile-text p {
  color: #a48b77;
  font-size: 13px;
}
#single-story {
  position: absolute;
  top: 0%;
}
/* media queries */

@media (max-width: 890px) {
  .desktop-img {
    width: 700px;
  }
  .desktop-viewText {
    max-width: 500px;
  }
  .story-br {
    margin: 3px 0;
  }

  .desktop-viewText h1 {
    margin: 80px 0 10px;
  }
  .desktop-viewText p {
    font-size: 12px;
    line-height: 20px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .grid__box {
    grid-template-columns: repeat(2, 1fr);
  }

  .desktop-viewText {
    max-width: 480px;
  }
}

@media (max-width: 690px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: unset;
  }

  .mobile-text {
    max-width: 560px;
  }
  .mobile-text h1 {
    margin: 70px 0 10px;
    text-align: center;
    font-family: var(--font-family-inter);
  }
  .mobile-text .mobileview-desc {
    margin: 0 90px;
    line-height: 23px;
    font-size: 15px;
  }
  .mobile-viewDiv {
    margin: 40px 0;
  }
  .mobile-text .mobile-desc {
    line-height: 23px;
    font-size: 15px;
    margin: 0 90px;
  }
}

@media (max-width: 530px) {
  .mobile-text .mobile-desc {
    font-size: 14px;
    margin: 0 80px;
  }
  .mobile-text .mobileview-desc {
    margin: 0 80px;
    line-height: 21px;
  }
}

@media (max-width: 464px) {
  .grid__box {
    grid-template-columns: repeat(1, 1fr);
  }

  .mobile-text .mobile-desc {
    line-height: 19px;
    margin: -40px 70px 0;
  }
  .mobile-text .mobileview-desc {
    margin: 0 75px;
    line-height: 18px;
    font-size: 13px;
  }
}

@media (max-width: 430px) {
  .mobile-text .mobile-desc {
    margin: -40px 65px 0;
    font-size: 13px;
  }
  .mobile-text .mobileview-desc {
    margin: 0 60px;
    line-height: 17px;
  }
}
@media (max-width: 395px) {
  .mobile-text .mobile-desc {
    line-height: 18px;
    margin: -40px 58px 0;
    font-size: 12px;
  }
  .mobile-text .mobileview-desc {
    margin: -13px 53px 0;
    line-height: 15px;
  }
  .mobile-text h1 {
    margin: 35px 0 20px;
  }
}

@media (max-width: 370px) {
  .mobile-text .mobileview-desc {
    margin: -13px 47px 0;
    line-height: 15px;
    font-size: 11px;
  }
  .mobile-text .mobile-desc {
    margin: -40px 50px 0;
  }
}
@media (max-width: 350px) {
  .mobile-text .mobileview-desc {
    margin: -13px 44px 0;
    line-height: 14px;
    font-size: 11px;
  }
  .mobile-text .mobile-desc {
    line-height: 15px;
    margin: -40px 49px 0;
  }
}
@media (max-width: 320px) {
  .mobile-text .mobileview-desc {
    margin: -17px 39px 0;
    line-height: 12px;
  }
  .mobile-text .mobile-desc {
    line-height: 12px;
  }
}
