.about_flex {
  margin: 80px 0;
}
.about_flex {
  display: flex;
 
}
.about__img {
  flex: 2;
  order: 1;
}
.about__text {
  flex: 3;
  order: 2;
  margin: 0 60px;
}
.nft-3 {
  margin-top: 40px;
  margin-left: 50px;
}
.nft-four {
  margin-top: 50px;
  margin-left: 70px;
}
.about__image {
  position: relative;
  width: 170px;
}
.about__text p {
  font-size: 14px;
  line-height: 30px;
}
.about__image::before {
  content: "";
  position: absolute;
  border: 1px solid #7012ce;
  width: 100%;
  height: 100%;
  top: -10px;
  left: -10px;
  z-index: -2;
}
.about__image::after {
  content: "";
  position: absolute;
  border: 1px solid #ffffff;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  z-index: -1;
}

@media (max-width: 768px) {
  .about_flex {
    flex-direction: column-reverse;
  }
  .about__img {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__text {
    margin: 30px;
  }
}
@media (max-width: 425px) {
  .about__text {
    margin: 20px;
  }
  .about__image {
    width: 120px;
  }
}
