.accordion {
  margin: 20px auto 0;
  max-width: 40rem;
  text-align: center;
}
.faqs {
  margin: 20px 0;
}

.accordion_item {
  padding: 1.5rem 1rem 1.125rem;
  border-bottom: 1px solid #7012ce;
}
.accordion_item--active {
  background: #201d2e;
}
.acc__icon {
  color: #7012ce;
}

.acc__white {
  color: white;
}

.question {
  margin-bottom: 1rem;
}
.question__text {
  font-family: var(--font-family-inter);
  color: #ffffff;
  text-align: left;
}
.question .icon {
  cursor: pointer;
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.faqs__text {
  margin-bottom: 3.625rem;
}
.answer p {
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-family: var(--font-family-Georama) !important;
  text-align: left;
  font-size: 14px;
  color: #ffffff;
}
