.accordion {
  margin: 20px auto 0;
  max-width: 40rem;
  text-align: center;
}
.faqs {
  margin: 20px 0;
}

.accordion-item {
  padding: 1.5rem 1rem 1.125rem;
  border-bottom: 1px solid #7012ce;
}
.accordion-item--active {
  background: #201d2e;
}
.acc-icon {
  color: #7012ce;
}

.acc-white {
  color: white;
}

.question {
  margin-bottom: 1rem;
}
.question__text {
  font-family: var(--font-family-inter);
  color: #ffffff;
  text-align: left;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqs__text {
  margin-bottom: 3.625rem;
}
.answer p {
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-family: var(--font-family-Georama) !important;
  text-align: left;
  font-size: 14px;
  color: #ffffff;
}
