footer {
  background: #201d2e;
  backdrop-filter: blur(50px);
  padding: 1.5rem 0;
  position: relative;
}

.footer-flexbox,
.footer-links {
  display: flex;
  justify-content: space-evenly;
}
.footer-socials {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin: 10px 0;
}
.footer-header,
.footer-newsletter {
  flex: 0.3;
}
.footer-links {
  flex: 0.4;
}
.footer-link-one,
.footer-link-two,
.footer-sponsor,
.footer-newsletter {
  display: flex;
  flex-direction: column;
}

.footer-input {
  display: flex;
  align-items: center;
  border: 1px solid #7012ce;
  background: #201d2e;
  font-family: var(--font-family-inter);
  margin: 20px 0;
  border-radius: 10px;
}
.footer-input > input {
  background: none;
  border: 0;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 40px;
}
.footer-input-icon {
  font-size: 13px;
  color: #ffff;
  background: radial-gradient(
    100% 100% at 142.5% 13.75%,
    #ffffff 0%,
    #7012ce 100%
  );
  height: 40px;
  width: 30px;
}
.ptner-text {
  font-size: 18px;
}
.newsletter-desc {
  font-weight: 200;
}

.footer-link {
  margin-top: 10px;
  cursor: pointer;
}
#link {
  margin-top: 27px;
}
.footer-desc {
  padding: 20px 0 60px;
}

.footer-btn {
  margin-bottom: 2.5rem;
  color: white;
  background: radial-gradient(
    100% 100% at 142.5% 13.75%,
    #ffffff 0%,
    #7012ce 100%
  );
  border: none;
  padding: 10px 20px;
  font-family: var(--font-family-inter);
}

.footer-ptner {
  font-family: var(--font-family-inter);
  color: white;
  font-weight: 600;
}

.footer-logo {
  width: 80px;
  margin: 20px 0 3px;
}

.footer-sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-subscrip {
  background: #070417;
  text-align: left;
  padding: 30px 40px;
}

.footer-socials a:not(:last-child) {
  margin-right: 1rem;
}

#mobile-cy {
  display: none;
}

/* media queries */

@media (max-width: 800px) {
  .footer-flexbox,
  .footer-links {
    align-items: center;
    flex-direction: column;
  }
  #mobile-cy {
    display: unset;
  }
  #desktop-cy {
    display: none;
  }
  .footer-subscrip {
    margin-top: 20px;
  }
  footer {
    text-align: center;
  }

  #link {
    margin-top: 8px;
  }
  .footer-sponsor {
    margin-top: 20px;
  }
  .footer-btn {
    margin-bottom: 1.5rem;
  }

  .footer-socials {
    justify-content: center;
    margin: 30px 0 40px;
  }

  .footer-desc {
    padding: 20px;
    line-height: 29px;
  }
}
